{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accessroles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Isfullaccess</th>
                <th>Accesslevel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accessRole in accessRoles %}
            <tr>
                <td><a href="{{ path('accessrole_show', { 'id': accessRole.id }) }}">{{ accessRole.id }}</a></td>
                <td>{{ accessRole.name }}</td>
                <td>{% if accessRole.isFullAccess %}Yes{% else %}No{% endif %}</td>
                <td>{{ accessRole.accessLevel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('accessrole_show', { 'id': accessRole.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('accessrole_edit', { 'id': accessRole.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accessrole_new') }}">Create a new accessRole</a>
        </li>
    </ul>
{% endblock %}
