{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accessrole</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accessRole.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ accessRole.name }}</td>
            </tr>
            <tr>
                <th>Isfullaccess</th>
                <td>{% if accessRole.isFullAccess %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Accesslevel</th>
                <td>{{ accessRole.accessLevel }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accessrole_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('accessrole_edit', { 'id': accessRole.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
